<h1>Recipe Searches</h1>


  <div class="row small-up-1 medium-up-2 large-up-4">
    <h3 class="headline">Find a Recipe</h3>
      <%= form_tag(search_path(), :method => "get") do %>
        <%= search_field_tag("query", nil, :placeholder => "Recipe Keyword")%>
        <%= submit_tag "Search", :name => nil, class: 'button' %>
      <% end %>
  </div>


<!-- <h1>Recipe Searches</h1>

<%= form_tag('list_path', :method => "get") do %>
<%= text_field_tag :search, params[:search], placeholder: "Recipe Keyword" %>
<%= submit_tag "Search" %>
<% end %> -->