<h1><%= link_to @result.label, @result.url %></h1>
  <ul>
    <li><%= image_tag @result.image %></li>
    <% @result.ingredients.each do |ingredient| %>
        <li><%= round_to(ingredient['quantity'], 0) %> <%= ingredient['measure'].titleize %> <%= ingredient['food'].titleize %>
    <% end %>

    <% @result.totalDaily.each do |key, value| %>
        <li>
      <%  value.each do |k, v| %>
          <%= round_to(v, 2) %>
          <% end %></li>
    <% end %>
  </ul>

  <%= button_to "Back", root_path, method: :get, class: 'button' %>